:root {
  --mainColor: #00050d;
  --main: #0f79af;
  --HoverColor: #12a1e9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: Arial, sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  transition: 0.2s ease-in;
}

/* For Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--main);
}

::-webkit-scrollbar-track {
  background: #fff;
}

section {
  padding-inline: 100px;
}